html,
body {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.2;
  font-family: 'Simple Console', monospace;
  background: black;
  color: #ccc;
}

pre {
  position: fixed;
  inset: 0;
  margin: 0;
  font-family: inherit;
}
